<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device width, initial scale =1">
    <meta name="author" content="Roberta">
    <meta name="description" content="Get all top headlines from TechCrunch.com here!">
    <title>Add article</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/app/Views/Style/favicon-16x16.png">
    <link rel="stylesheet" href="/app/Views/Style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>
<header class="header-left">
    <h1 class="site-title">Add your article:</h1>
</header>

<form method="post" action="/articles" class="add">

    <strong>
        <label for="{{ article.urlToImage }}" class="add-text">IMAGE URL:</label> <br>
    </strong>
    <input type="text" id="{{ article.urlToImage }}" name="urlToImage" class="input"> <br>

    <strong>
        <label for="{{ article.title }}" class="add-text">TITLE:</label> <br>
    </strong>
    <input type="text" id="{{ article.title }}" name="title" class="input"> <br>

    <strong>
        <label for="{{ article.url }}" class="add-text">ARTICLE URL:</label> <br>
    </strong>
    <input type="text" id="{{ article.url }}" name="url" class="input"> <br>

    <button type="submit" class="button">SUBMIT</button>
</form>
<footer>
    <h3 class="go-back"><a href="/">Back home</a></h3>
</footer>
</body>

</html>
